* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img  {
    display: block;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: rgb(221, 45, 74);
    background: linear-gradient(256deg, rgba(221, 45, 74, 1) 0%, rgba(136, 13, 30, 1) 100%);; */
    background: rgb(135, 14, 14);
    background: linear-gradient(303deg, rgba(135, 14, 14, 1) 0%, rgba(242, 106, 141, 1) 50%, rgba(203, 238, 243, 1) 100%);
}

main {
    height: 100vh;
}

form {
    text-align: center;
    padding: 20px;
}

div {
    margin: 1.5rem auto;
    width: 300px;
}

input {
    width: 300px;
    margin: 0.5rem auto;
}

#submit {
    /* background-color: black;
    color: #F0F0F0; */
    background-color: #870E0E;
    color: #CBEEF3;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    width: 150px;
    border: none;
}

.msg {
    display: none;
}

.success {
    color: green;
    background-color: lightgreen;
}

.error {
    color: darkred;
    background-color: lightcoral;
}

.container {
    width: 500px;
}